.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer-container{
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
}

.timer-display{
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  margin: 3px;
  font-size: 1rem;
  cursor: pointer;
  border: black 2px solid;
  background-color: #ffffff;
  border-radius: 5px;
}

.timer-controls{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}

.control-button{
  width: 5px;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  background-color: #ccc;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}